.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4f8;
  background-image: url("../assets/Background2.jpeg");
background-size: cover;
background-position: center;
background-attachment: fixed;
backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}


.login-card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  color: #33180897;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 25px;
}

.login-error {
  background-color: #f8d7da;
  color: #842029;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.login-group {
  margin-bottom: 15px;
}

.login-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.login-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.login-group input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.3);
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color:  #33180897;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #0b5ed7;
}